@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  /* Define Montserrat for Headings */
  --font-montserrat: "Montserrat", sans-serif;
  
  /* Define System UI for Body */
  --font-ui-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

@layer base {
  html {
    font-family: var(--font-ui-sans);
    scroll-behavior: smooth;
    /* text-align: justify; */
  }

/* Force all headings to use Montserrat */
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-montserrat);
  }
  
  body {
    @apply bg-white text-slate-900 antialiased;
  }
}

@layer utilities {
  .clip {
    /* This ensures fixed children stay inside this parent */
    clip-path: inset(0 0 0 0);
  }
}

/* Custom utility for glassmorphism (ideal for Navbars) */
.glass {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}